.arrow-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.horizontal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-buttons button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow-buttons button.hidden {
  visibility: hidden;
}

.plus-button, .minus-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 20px;
}

.plus-button {
  margin-left: 100px; /* Adjust for spacing to the right */
}

.minus-button {
  margin-right: 100px; /* Adjust for spacing to the left */
}

.minus-button.hidden {
  display: none;
}