@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-color: rgb(229 231 235);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(229 231 235);
  color: #000;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
}

.description {
  width: 80%;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
  position: absolute;
  top: 10%; /* Position near the first quarter of the screen */
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px; /* Center column width */
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-options button {
  margin: 10px 0;
  border: 2px solid transparent;
}

.menu-options button.highlighted {
  border: 2px solid black;
}

.horizontal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrow-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.arrow-buttons button,
.plus-button,
.minus-button,
.arrow-left,
.arrow-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow-buttons button.hidden {
  visibility: hidden;
}

.plus-button {
  margin-left: 100px;
}

.minus-button {
  margin-right: 100px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 150px; /* Increase margin to prevent overlap with controls */
}

.project-image {
  max-width: 100%;
  max-height: calc(100vh - 200px); /* Adjust this value to prevent overlap with controls */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}