@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-color: rgb(229 231 235);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(229 231 235);
  color: #000;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;  /* Full width of the viewport */
  box-sizing: border-box;
}

.description {
  width: 80%;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
  position: absolute;
  top: 10%; /* Position near the first quarter of the screen */
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center menu options vertically */
  flex: 1; /* Allow it to take up remaining space */
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.menu-options button {
  margin: 10px 0; /* Add space between buttons */
  border: 2px solid transparent; /* Initial border to ensure layout */
}

.menu-options button.highlighted {
  border: 2px solid black; /* Highlighted border */
}

.horizontal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.arrow-buttons button,
.plus-button,
.minus-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow-buttons button.hidden {
  visibility: hidden;
}

.plus-button {
  margin-left: 100px;
}

.minus-button {
  margin-right: 100px;
}

@media (min-width: 1024px) {
  .menu-options {
    top: 30%;
    transform: translateY(0); /* Adjust to position higher on larger screens */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}